<h1>Piracy</h1>

<%= image_tag 'pirate.jpg' %>

<h2>Making music piracy more like real piracy. heave to.</h2>

<h2>ahoy matey! Download tha app</h2>

<a href ="http://moustaki.org/resources/TrackDropper.apk">take no prisoners! Download tha Android app.</a>

<h2>Clues!</h2>

<ul>
<% @tracks.each do |track| %>
<li><%= track.clue %></li>
<% end %>
</ul>
